.mobile {
    display: none;
}
html {
    height:100%;
    font-family: 'Comfortaa', cursive;
    font-size: 30px;
}
/*
-----------------555555555555555555555

ВРЕМЕННО

-*-*-*-*-*-*-*-**/
ankiCards, notes, tips {
    display:none;
}
/*
-----------------555555555555555555555

ВРЕМЕННО

-*-*-*-*-*-*-*-**/
body {
    height: 100%;
    background: #eee;
    min-height:400px;
    min-width:800px;
}
.desktop {
    height: 100%;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.menu, .wrapper {
    height: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.menu {
    padding-top: 100px;
}
.menu li {
    padding: 10% 0;
    padding-right:40%;
    padding-left: 3%; 
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
}
.menu span {
    position: relative;
    z-index: 2;
}
.menu div {
    position: absolute;
    top:50%;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 0;
}
.active div {
    height: 100%;
    top:0;
}
.first {background: #23efc6;}
.second {background: #ce48e9;}
.third {background: #f2d36d;}
.fourth {background: #e18383;}
.wrapper {
    padding: 2%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 100%;
}
.main {
    position: relative;
    -webkit-perspective:1000px;
    perspective:1000px;
    width: 100%;
    height: 100%;
    padding: 2%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.back {
    background: #fff;
    position: absolute;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    z-index: 0;
}
.calendar, .doing, .tip {
    position: relative;
    z-index: 1;
}
.ui-datepicker-title {
background: #23efc6;/*цвет фона названия месяца*/
}
.out .back {
    -webkit-transform: rotateY(-90deg);
    transform: rotateY(-90deg);
    opacity: 1;
    -webkit-transition: all ease-in 0.9s;
    transition: all ease-in 0.9s;    
}
.out .calendar {
    -webkit-transform: rotateY(-100deg);
    transform: rotateY(-100deg);
    opacity: 0;
    -webkit-transition: all 0.9s ease-in 0.3s;
    transition: all 0.9s ease-in 0.3s;    
}
.out .doing {
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    opacity: 0;
    -webkit-transition: all 0.9s ease-in 0.2s;
    transition: all 0.9s ease-in 0.2s;    
}
.out .tip {
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    opacity: 0;
    -webkit-transition: all 0.9s ease-in 0.5s;
    transition: all 0.9s ease-in 0.5s;    
}